/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/
!/[Aa]ssets/
!/[Pp]rojectSettings/
!/[Pp]ackages/
!/[Uu]serSettings/
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
.vs
.vscode
.idea
.gradle
ExportedObj
.consulo
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
*.apk
*.aab
*.app
*.unitypackage
~UnityDirMonSyncFile~*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/StreamingAssets/*/aa/*
.DS_Store*
Thumbs.db
Desktop.ini
